@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    background: #00fbe8;
    width: 450px;
    text-align: center;
    padding: 35px 30px;
    
}

.head h3{
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.head p{
    color: #333;
    margin-bottom: 20px;
}

.email{
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    justify-content: space-between;
}

.name input{
    flex-grow: 1;
}

.name input:first-child{
    margin-right: 20px;
}

.name input, .email input{
    height: 40px;
    margin-bottom: 20px;
    padding-left: 14px;
    border: 1px solid rgba(0, 251, 230,0.5);
    border-radius: 4px;

}

input:focus{
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.terms{
    margin-bottom: 20px;
}

.submit{
    display: flex;
    flex-direction: column;

}

button{
    height: 40px;
    background: #feff00;
    border-radius: 4px;
    border:1px solid #feff00;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;

}

button:hover{
    text-decoration: underline;
}

button:focus{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.signin{
    margin-top: 10px;
}

.signin p{
    display: inline-block;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:#feff00;
}